*{
    font-family: 'Poppins', sans-serif;
}
.hero-section{
    background-color: #031333;
}
.hero-left-section{
    margin-top: 8rem !important;
}
.hero-heading{
    font-size: 58px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
}
.hero-heading > span{
    color: #F54C1E;
}
.hero-subheading{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
}
.services-btn{
    background-color: #F54C1E !important;
}

@media screen and (max-width: 376px) {
    .hero-heading{
        font-size: calc(2vw + 6vh);
        margin-top: -6rem;
    }
}