*{
    font-family: 'Poppins', sans-serif;
}
.features-heading{
    color: #F54C1E;
    font-size: 20px;
    font-weight: 500;
}
.features-main-heading{
    color: #031333;
    font-weight: 38px;
    font-weight: 600;
}